<ion-header >
  <ion-toolbar color="primary">
    <ion-title>tabs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
 <ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="localizacion">
      <ion-icon name="location"></ion-icon>
      <ion-label>Mapa</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="genera-qr">
      <ion-icon name="qr-scanner"></ion-icon>
      <ion-label>Genera QR</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="scan-qr">
      <ion-icon name="qr-code-outline"></ion-icon>
      <ion-label>Leer QR</ion-label>
    </ion-tab-button>


  </ion-tab-bar>
 </ion-tabs>
</ion-content>
